<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>#mavenlocal#</localRepository>
	<servers>
		<server>
			<id>central</id>
			<username>dev</username>
			<password>dev1234</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>dev</username>
			<password>dev1234</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>public</name>
					<url>https://artifactory4t4apgsga.jfrog.io/artifactory4t4apgsga/public</url>
				</repository>
				<repository>
					<snapshots />
					<id>snapshots</id>
					<name>public-snapshots</name>
					<url>https://artifactory4t4apgsga.jfrog.io/artifactory4t4apgsga/public-snapshots</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>public</name>
					<url>https://artifactory4t4apgsga.jfrog.io/artifactory4t4apgsga/public</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>snapshots</id>
					<name>public-snapshots</name>
					<url>https://artifactory4t4apgsga.jfrog.io/artifactory4t4apgsga/public-snapshots</url>
				</pluginRepository>
			</pluginRepositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>
